.mat-heading {
  text-align: center;
  font-size: large;
  font-weight: 400;
  color: #656565;
}
.example-full-width {
  width: 100%;
}
.form {
  padding-top: 3%;
  align-items: center;
}
.card {
  margin: auto;
  width: 50%;
  margin-bottom: 45px;
}
.card-header {
  color: #656565;
}
.card-body {
  color: #656565;
}
