<mat-toolbar style="background-color: rgb(216, 20, 20);">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span style="color: rgb(255, 255, 255);">LB Finance</span>
    <span class="example-spacer"></span>
    <span>
        <button style="background-color: rgb(216, 20, 20);" mat-mini-fab aria-label="Example icon button with a home icon" routerLink="/loanlist">
            <mat-icon>home</mat-icon>
        </button>
    </span>
</mat-toolbar>